.review-item {
    display: flex;
    margin: 50px 0px 50px 50px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.review-item img{
    width: 200px;
    margin-right: 10px;
}

.review-item h2 {
    font-size: 20px;
    color: royalblue;
}

.product-price {
    color: salmon;
    font-size: 25px;
}

.product-quantity {
    font-size: 15px;
    font-weight: 700;
}